[submodule "deps/QsLog"]
	path = deps/QsLog
	url = https://github.com/victronenergy/QsLog
[submodule "deps/boost-headers-only"]
	path = deps/boost-headers-only
	url = https://github.com/gerwaric/boost-headers-only
