# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
.qtc_clangd/

# QT Visual Studio Tools
*.qtvscr

*.autosave

*.swp

# Visual Studio-specific stuff
*.sln
*.sdf
*.tss
*.suo
*.vcxproj*
*_resource.rc
[Dd]ebug/
[Rr]elease/
*.opensdf
*.aps
*.pdb
.vs/
enc_temp_folder/

# deployment/installer
deploy/
Output/
deploy_qt_installer/

acquisition
CppProperties.json

# doc
doc/