* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hh text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.qrc text eol=lf
*.qss text eol=lf
*.ui text eol=lf
*.desktop text eol=lf
*.rc.in text eol=lf

*.iss text eol=crlf

*.icns binary
*.ico binary
*.png binary
*.ttf binary
